importando libs

In [1]:
import os
import findspark
from pyspark.sql  import SparkSession

In [2]:
# caminhos projeto
BASE_DIR = os.path.dirname(os.path.abspath('.'))
DATA_DIR = os.path.join(BASE_DIR, 'data')


# encontrando os arquivos de dados
arquivos = [i for i in os.listdir(DATA_DIR) if i.endswith(".csv")]

In [3]:
# iniciando findspark
findspark.init()

In [4]:
# creando session spark
spark = SparkSession.builder.getOrCreate()
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

22/08/01 19:44:13 WARN Utils: Your hostname, note resolves to a loopback address: 127.0.1.1; using 192.168.2.108 instead (on interface wlp2s0)
22/08/01 19:44:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/01 19:44:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Lendo arquivo

In [5]:

df_marcas = spark.read.format('csv')\
  .option('header', True)\
  .load(os.path.join(DATA_DIR, arquivos[0]), sep=',')
  
display(df_marcas)

+------------+---------+
| marca_carro|cod_marca|
+------------+---------+
|       Acura|        1|
|Aston Martin|        2|
|        Audi|        3|
|      Austin|        4|
|         BMW|        5|
|     Bentley|        6|
|     Bugatti|        7|
|       Buick|        8|
|    Cadillac|        9|
|   Chevrolet|       10|
|    Chrysler|       11|
|     Citroën|       12|
|      Daewoo|       13|
|       Dodge|       14|
|       Eagle|       15|
|     Ferrari|       16|
|        Ford|       17|
|         GMC|       18|
|         Geo|       19|
|       Honda|       20|
+------------+---------+
only showing top 20 rows